engine/src/main/java/org/camunda/bpm/engine/impl/cep/CamundaGenericEventType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="CamundaGenericEventType.xsd" targetNamespace="CamundaGenericEventType.xsd" elementFormDefault="qualified">
    <xs:element name="CamundaGenericEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="processInstanceId" type="xs:string"/>
                <xs:element name="activityId" type="xs:string"/>
                <xs:element name="processName" type="xs:string"/>
                <xs:element name="timestamp" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>